protorootfile ../ROOTfiles/hms_coin_replay_production_XXXXX_latest.root
guicolor orange
canvassize 1600 800

newpage  4 2
title HMS Hodoscope ADC Occ/Mult
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_occ_pos","hhodo_1x_good_adc_occ_neg","1x+","1x-","1x Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_occ_pos","hhodo_1y_good_adc_occ_neg","1y+","1y-","1y Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_occ_pos","hhodo_2x_good_adc_occ_neg","2x+","2x-","2x Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_occ_pos","hhodo_2y_good_adc_occ_neg","2y+","2y+","2y Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_mult_pos","hhodo_1x_good_adc_mult_neg","1x+","1x-","1x Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_mult_pos","hhodo_1y_good_adc_mult_neg","1y+","1y-","1y Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_mult_pos","hhodo_2x_good_adc_mult_neg","2x+","2x-","2x Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_mult_pos","hhodo_2y_good_adc_mult_neg","2y+","2y-","2y Good ADC Multiplicity")'

newpage 4 2
title HMS Hodoscope TDC Occ/Mult
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_tdc_occ_pos","hhodo_1x_good_tdc_occ_neg","1x+","1x-","1x Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_tdc_occ_pos","hhodo_1y_good_tdc_occ_neg","1y+","1y-","1y Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_tdc_occ_pos","hhodo_2x_good_tdc_occ_neg","2x+","2x-","2x Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_tdc_occ_pos","hhodo_2y_good_tdc_occ_neg","2y+","2y-","2y Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_tdc_mult_pos","hhodo_1x_good_tdc_mult_neg","1x+","1x-","1x Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_tdc_mult_pos","hhodo_1y_good_tdc_mult_neg","1y+","1y-","1y Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_tdc_mult_pos","hhodo_2x_good_tdc_mult_neg","2x+","2x-","2x Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_tdc_mult_pos","hhodo_2y_good_tdc_mult_neg","2y+","2y-","2y Good TDC Multiplicity")'

newpage  4 2 logz
title HMS Hodoscope Pedestals
hhodo_1x_good_pped_vs_pmt_pos -nostat
hhodo_1y_good_pped_vs_pmt_pos -nostat
hhodo_2x_good_pped_vs_pmt_pos -nostat
hhodo_2y_good_pped_vs_pmt_pos -nostat
hhodo_1x_good_pped_vs_pmt_neg -nostat
hhodo_1y_good_pped_vs_pmt_neg -nostat
hhodo_2x_good_pped_vs_pmt_neg -nostat
hhodo_2y_good_pped_vs_pmt_neg -nostat

newpage 4 2 
title HMS Hodoscope Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_1x","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_1y","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_2x","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_2y","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_1x","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_1y","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_2x","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","hodo_2y","h",2)' -nostat

newpage 2 3
title HMS Drift Chamber Wire Maps (all hits)
macro UTIL/GEN/overlay2.C("hdc1u1_rawwirenum","hdc2v1_rawwirenum","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_rawwirenum","hdc2v2_rawwirenum","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_rawwirenum","hdc2x1_rawwirenum","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_rawwirenum","hdc2x2_rawwirenum","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_rawwirenum","hdc2u1_rawwirenum","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_rawwirenum","hdc2u2_rawwirenum","1V2","2U2")

newpage 2 3
title HMS Drift Chamber Wire Maps
macro UTIL/GEN/overlay2.C("hdc1u1_wirenum","hdc2v1_wirenum","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_wirenum","hdc2v2_wirenum","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_wirenum","hdc2x1_wirenum","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_wirenum","hdc2x2_wirenum","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_wirenum","hdc2u1_wirenum","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_wirenum","hdc2u2_wirenum","1V2","2U2")

newpage 2 3
title HMS Drift Chamber Drift Distance
macro UTIL/GEN/overlay2.C("hdc1u1_ddist","hdc2v1_ddist","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_ddist","hdc2v2_ddist","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_ddist","hdc2x1_ddist","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_ddist","hdc2x2_ddist","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_ddist","hdc2u1_ddist","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_ddist","hdc2u2_ddist","1V2","2U2")

newpage 2 3
title HMS Drift Chamber Drift Time
macro UTIL/GEN/overlay2.C("hdc1u1_drifttime","hdc2v1_drifttime","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_drifttime","hdc2v1_drifttime","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_drifttime","hdc2x1_drifttime","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_drifttime","hdc2x2_drifttime","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_drifttime","hdc2u1_drifttime","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_drifttime","hdc2u2_drifttime","1V2","2U2")

newpage 2 3
title HMS Drift Chamber 1 Efficiency 
macro UTIL/GEN/dcwire_efficiency.C("hdc1x1_wirenum_did","hdc1x1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc1x2_wirenum_did","hdc1x2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc1u1_wirenum_did","hdc1u1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc1u2_wirenum_did","hdc1u2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc1v1_wirenum_did","hdc1v1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc1v2_wirenum_did","hdc1v2_wirenum_should")

newpage 2 3
title HMS Drift Chamber 2 Efficiency 
macro UTIL/GEN/dcwire_efficiency.C("hdc2x1_wirenum_did","hdc2x1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc2x2_wirenum_did","hdc2x2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc2u1_wirenum_did","hdc2u1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc2u2_wirenum_did","hdc2u2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc2v1_wirenum_did","hdc2v1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("hdc2v2_wirenum_did","hdc2v2_wirenum_should")

newpage 3 2 logz
title HMS Focal Plane
hdc_xfp_vs_yfp -nostat
hdc_xpfp_vs_ypfp -nostat
hdc_xfp_vs_xpfp -nostat
hdc_xfp_vs_ypfp -nostat
hdc_yfp_vs_xpfp -nostat
hdc_yfp_vs_ypfp -nostat

newpage 3 2 logz
title HMS Target Quantities
hgtr_ytar_vs_yptar -nostat
hgtr_xptar_vs_yptar -nostat
hgtr_xtar_vs_reactz -nostat
hgtr_xtar -nostat
hgtr_ytar -nostat
hextcor_xysieve -nostat

newpage 2 2
title HMS Cherenkov Occu/Mult/Ped
hcer_good_occ -nostat
hcer_good_mult -nostat
hcer_good_pped_vs_pmt -nostat

newpage 1 1
title HMS Cherenkov Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cer","h",1)' -nostat

newpage 2 2 logz
title HMS Cherenkov NPE
hcer_npe -nostat
hcer_xytrack -nostat
hcer_x_vs_npe -nostat
hcer_y_vs_npe -nostat
# hcer_tot_npe  -nostat

newpage 2 2 
title HMS Calorimeter Occupancy
macro 'UTIL/GEN/overlay2.C("hcal_hA_good_occ_pos","hcal_hA_good_occ_neg","hA+","hA-","hA Good Occupancy")'
macro 'UTIL/GEN/overlay2.C("hcal_hB_good_occ_pos","hcal_hB_good_occ_neg","hB+","hB-","hB Good Occupancy")'
hcal_hC_good_occ_pos -nostat
hcal_hD_good_occ_pos -nostat

newpage 2 2 
title HMS Calorimeter Multiplicity
macro 'UTIL/GEN/overlay2.C("hcal_hA_good_mult_pos","hcal_hA_good_mult_neg","hA+","hA-","hA Good Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hcal_hB_good_mult_pos","hcal_hB_good_mult_neg","hB+","hB-","hB Good Multiplicity")'
hcal_hC_good_mult_pos -nostat
hcal_hD_good_mult_pos -nostat

newpage 2 3 logz
title HMS Calorimeter Pedestals
hcal_hA_good_pped_vs_pmt_pos -nostat
hcal_hA_good_pped_vs_pmt_neg -nostat
hcal_hB_good_pped_vs_pmt_pos -nostat
hcal_hB_good_pped_vs_pmt_neg -nostat
hcal_hC_good_pped_vs_pmt_pos -nostat
hcal_hD_good_pped_vs_pmt_pos -nostat

newpage 2 3 
title HMS Calorimeter Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hA","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hA","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hB","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hB","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hC","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_coin_replay_production_golden.root","cal_hD","h",1)' -nostat

newpage 2 2 
title HMS Drift Chamber Reference Times
htrig_hdc_ref1 -nostat
htrig_hdc_ref2 -nostat
htrig_hdc_ref3 -nostat
htrig_hdc_ref4 -nostat

newpage 4 2 
title HMS Trigger Reference Times
htrig_h1x_good_tdc -nostat
htrig_h1y_good_tdc -nostat
htrig_h2x_good_tdc -nostat
htrig_h2y_good_tdc -nostat
htrig_hT1_good_tdc -nostat
htrig_hT2_good_tdc -nostat
htrig_hT3_good_tdc -nostat
htrig_hFADC_TREF_ROC1_good_tdc -nostat

newpage 2 1
title HMS Fast Raster
# hFRAraw_XvsY -nostat
# hFRBraw_XvsY -nostat
hFRApos_XvsY -nostat
hFRBpos_XvsY -nostat

newpage 2 1
title HMS EPICS BPM
macro UTIL/BEAMLINE/plot_beam.C("X")
macro UTIL/BEAMLINE/plot_beam.C("Y")

newpage 2 2
title HMS Kinematics
hdc_trk_mom -nostat
hkin_theta -nostat
hkin_q2 -nostat
hkin_w  -nostat
#hkin_omega -nostat

# newpage 3 2
# title HMS Tracked Variables
# hcal_xytrack -nostat
# hcal_xdiff -nostat
# hcal_xdiff_v_xtr -nostat
# hcal_xyclusttrack -nostat
# hcal_ydiff -nostat
# hcal_ydiff_v_ytr -nostat

newpage 2 3 logz
title HMS PID
hcer_vs_hpreShwr -nostat
hcal_hshwr_vs_hpreShwr -nostat
hdc_trk_beta -nostat
# hcal_xtrack_vs_etrack -nostat
# hcal_ytrack_vs_etrack -nostat
hcal_xtrack_vs_etracknorm -nostat
hcal_ytrack_vs_etracknorm -nostat
hcal_delta_etracknorm -nostat

# newpage 4 2 logz
# title HMS PID (electrons)
# hcer_vs_hpreShwr_elec -nostat
# hcal_hshwr_vs_hpreShwr_elec -nostat
# hcal_delta_etracknorm_elec -nostat
# hdc_trk_beta_elec -nostat
# hdc_trk_mom_elec -nostat
# hcal_xtrack_vs_etrack_elec -nostat
# hcal_ytrack_vs_etrack_elec -nostat

# newpage 4 2 logz
# title HMS PID (pions)
# hcer_vs_hpreShwr_pi -nostat
# hcal_hshwr_vs_hpreShwr_pi -nostat
# hcal_delta_etracknorm_pi -nostat
# hdc_trk_beta_pi -nostat
# hdc_trk_mom_pi -nostat
# hcal_xtrack_vs_etrack_pi -nostat
# hcal_ytrack_vs_etrack_pi -nostat

# newpage 3 2 logxy 
# title HMS Trigger Rates
# htrig1rate_vs_time -nostat
# htrig2rate_vs_time -nostat
# htrig3rate_vs_time -nostat
# htrig4rate_vs_time -nostat
# htrig6rate_vs_time -nostat

newpage 1 1 linxy
title ROC3 Sync Check
hms_dcref_vs_hodoref -nostat -type box

newpage 4 2 
#newpage 3 1 
title HMS Trigger Pedestal Tracking
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","ASum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","BSum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","CSum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","DSum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","cersum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","preShwr","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_coin_replay_production_golden.root","shwr","h")' -nostat
