*~
ROOTfiles
ROOTfiles/*
ROOTfiles.old/*
bck/*
#*
hcana
raw
.root_history
HISTOGRAMS/*
REPORT_OUTPUT/*
log/*
full_hms.sh
full_shms.sh
onlineGUI/Config/kpp_*
*.d
*.so
*Auto*
run_*
CALIBRATION/shms_cal_calib/pcal.param*
CALIBRATION/hms_cal_calib/hcal.param*
CALIBRATION/shms_cal_calib/calibrated.deb
CALIBRATION/hms_cal_calib/calibrated.deb
CALIBRATION/hms_cal_calib/hcal_calib_cpp_ACLiC_dict_rdict.pcm
CALIBRATION/shms_cal_calib/pcal_calib_cpp_ACLiC_dict_rdict.pcm
CALIBRATION/*/data_files/*		
CALIBRATION/*/root_files/*
onlineGUI/onlineGUI_v1.2.1/onlineDict_rdict.pcm
onlineGUI/onlineGUI_v1.2.1/onlineDict.h

